@use 'colors' as *;
@use 'header';
@use 'home';
@use 'cart';
@use 'footer';
@use 'checkout';
@use 'profile';
@use 'mediaquery';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: $primarydark;
    color: $text-main;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $secondary;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: $primarydark;
    }
}