// $primary:rgb(66, 66, 66);
// $primarydark:rgb(33, 33, 33);
// $secondary:#0277bd;
// $secondarydark:#01579b;

$primarydark:#35155d;
$primary:#512B81;
$secondarydark:#4477CE;
$secondary:#8CABFF;
$tertiary:#fff;