@use "colors" as *;
@use "sass:color";

footer {
  min-height: 100px;
  background-color: color.scale($primarydark, $alpha: -10%);
  backdrop-filter: blur(10px);
  border-top: 1px solid $glass;
  color: $tertiary;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  align-items: center;
  justify-items: center;
  text-align: center;

  >section {
    width: auto;

    >img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: contain;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    }
  }

  >div {
    width: 100%;
    border-left: 1px solid $glass;
    border-right: 1px solid $glass;

    >img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 1rem;
      border: 2px solid $secondary;
    }

    >h2 {
      margin: 0.5rem;
      font-size: 1.5rem;
      color: $text-main;
    }

    >p {
      font: 300 1rem "Roboto";
      color: $text-muted;
      font-style: italic;
    }
  }

  >aside>article {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;

    a {
      color: $text-muted;
      transition: all 0.3s;

      svg {
        font-size: 2rem;
      }

      &:hover {
        color: $secondary;
        transform: translateY(-3px);
        filter: drop-shadow(0 0 5px $secondary);
      }
    }
  }
}